 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi there! My name is Sandra Lara and I'm from Barcelona. I am currently a Multimedia Engineer with 3 years of the Computer Engineering degree. I also have a BSc in Physics. Since I was 12 years old I have always been working on my own projects, from websites to 2D animations.</p>
                    <p></p>
                </div>
                <div class="col-lg-4">
                    <p>I love web and games development, always being able to add a touch of creativity. I learn fast and am very enthusiastic about what I do, always seeking for good finishes in my work, both technically and visually.</p>
                    <p>Thank you so much for visiting my portfolio!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="{{ site.url }}/assets/CV-EN.pdf" class="btn btn-lg btn-outline" target="_blank">
                        <i class="fa fa-download"></i> Download my CV
                    </a>
                </div>
            </div>
        </div>
    </section>